@media screen and (max-width: 1280px) {
	.header.content:before {
		display: none !important;
	}
}

@media screen and (max-width: 968px) {
	.header.content {
		min-height: unset;
		position: relative;
	}
	:root .page-header-v2 .page-header .header_right {
		margin: 0 !important;
	}
}